 * [CODEC-DEV-LINK C/C++ Codec Distribution CODEC-DEV-VERSION] [CODEC-DEV-DETAILS-LINK (File Details)]
 This is a platform-independent project that was built using the GNU Autotools.  It should install on most Linux and Unix platforms, including Mac OS X (Intel and PowerPC) and on Microsoft Windows under Cygwin.

